@page "/logout"
@using Microsoft.AspNetCore.Authentication
@inject NavigationManager Navigation
<p role="alert">Ah cerrado session con exito</p>

@code {
    [CascadingParameter]
    public HttpContext httpContext { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        if (httpContext.User.Identity.IsAuthenticated)
        {
            await httpContext.SignOutAsync();
            Navigation.NavigateTo("/logout", true);
        }
    }
}